[bastion]
bastion_host ansible_host=194.47.155.153 ansible_user=ubuntu ansible_ssh_private_key_file=/home/srinika/.ssh/openstack_key ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[proxy]
proxy_host ansible_host=194.47.155.143 ansible_user=ubuntu ansible_ssh_private_key_file=/home/srinika/.ssh/openstack_key ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[nodes]
node1 ansible_host=192.168.1.53 ansible_user=ubuntu ansible_ssh_private_key_file=/home/srinika/.ssh/openstack_key ansible_ssh_common_args='-o StrictHostKeyChecking=no -o ProxyCommand="ssh -i /home/srinika/.ssh/openstack_key -o IdentitiesOnly=yes -W %h:%p ubuntu@194.47.155.153"'

node2 ansible_host=192.168.1.122 ansible_user=ubuntu ansible_ssh_private_key_file=/home/srinika/.ssh/openstack_key ansible_ssh_common_args='-o StrictHostKeyChecking=no -o ProxyCommand="ssh -i /home/srinika/.ssh/openstack_key -o IdentitiesOnly=yes -W %h:%p ubuntu@194.47.155.153"'
